
p{
  color: #FFFFFF;
}

li, span{
  background: transparent;
}
.logo{
  background-color: black;
  width:150px;
  height: 100px;
}
.voice-analysis, .text-analysis{
  position: relative;
left: 70px;
top:100px;
font-family: 'M PLUS 1';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 70px;

color: #68FF03;
}

.text-analysis{
  top:-300px;
}

.speed, .volume{
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;  
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  width: 300px;
  margin: 0;
  overflow-x: hidden;
  color: #FFFFFF;
}
.speed{
  top: -100px;
  left: 520px;
}

.speed-graph, .volume-graph{
  height: 300px;
  color: white;
  position: relative;
}
.speed-graph{
  top:-80px;
  left: 310px;
}
.speed-details, .volume-details, .text-details{
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  
}

.speed-details, .volume-details{
  position: relative;
  height: 146px;
  width: 532px;
  border-radius: 30px;
  margin: 0 auto;
}
li, .details-text{
  position: relative;
  width: 500px;
  background-color: transparent;
}
.speed-details, .volume-details{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#average{
  color: red;
}
.speed-details{
  top: 40px;
  left: 330px;
  background-color: #FFF855;
}

.variance{
  background-color: transparent;
  display: inline;
}
.volume{
  top:-577px;
  left: 1060px;
}

.volume-graph{
  top:-577px;
  left:880px;
}

.volume-details{
  top: -447px;
  left: 900px;
  background: #1154FF;
}
.text-box{
  position: relative;
  top: -450px;
  left: 330px;
}
.text{
width: 1070px;


font-family: 'Noto Sans KR', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 43px;

color: #68FF03;

}

.text-details{
  height: 180px;
  width: 1050px;
  border-radius: 30px;
  margin: 0 auto;

  left: 370px;
  background: #68FF03;
}
.text-list{
  position: absolute;
  left: 45px;
  background: transparent;
}