
p{
  color: #FFFFFF;
}

.voice-analysis, .text-analysis{
  position: relative;
left: 70px;


font-family: 'M PLUS 1';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 70px;

color: #68FF03;
}
.voice-analysis{
  top: 150px;
}
.text-analysis{
  top:-500px;
}

.speed, .volume{
  position: relative;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;

  color: #FFFFFF;
}
.speed{
  top: -260px;
  left: 500px;
}

.speed-graph, .volume-graph{
  height: 300px;
  color: white;
  position: relative;
}
.speed-graph{
  top:-260px;
  left: 290px;
}

.speed-details, .volume-details{
  position: relative;
  height: 146px;
  width: 532px;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

#average{
  color: red;
}

.speed-details{
  top:-130px;
  left: 310px;
  background: #FFF855;
}

.volume{
  top:-810px;
  left: 1040px;
}

.volume-graph{
  top:-810px;
  left:860px;
}

.volume-details{
  top: -680px;
  left: 880px;
  background: #1154FF;
}

.text{
  position: relative;
  top: -600px;
  left: 300px;
}