.filebox label, .filebox-down label {
  background: #7B7B7B;
  border-radius: 10px;

  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 23px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items:center;
    justify-content: center;
  }
.filebox{
  position: absolute;
  left: 75.6%;
  right: 16.81%;
  top:75.46%;
  bottom: 17.65%;
  height: 51px;
}
.filebox-down{
  position: fixed;
  top: 89%;
  left: 650px;
}

.filebox  input[type="file"], .filebox-down input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
}
