.filebox label {
  position: absolute;
  left: 75.6%;
  right: 16.81%;
  top: 77.46%;
  bottom: 17.65%;
  height: 51px;

  background: #7B7B7B;
  border-radius: 10px;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  font-size: 23px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items:center;
    justify-content: center;
  }

.filebox input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
}
