@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

*{
  background: #000000
}
.history{
  position: fixed;
left: 81.61%;
right: 6.41%;
top:30px;
height: 60px;
width: 200px;
z-index: 3;
background: #FFF855;
border-radius: 40px;
font-family: 'Lemon', cursive;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 31px;
/* identical to box height */

display: flex;
  justify-content: center;
  align-items: center;

color: #000000;
cursor: pointer;

}
#speech{
  position: absolute;
  width: 921px;
  left: 151px;
  top: 62.96%;
  
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 250px;
  
  color: #68FF03;

  transition: all 500ms ease-out;
  cursor: default;
}

#maru{
  position: absolute;
  width: 622px;
  left: 800px;
  top: 50%;
  bottom: 34.26%;
  
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 175px;
  
  color: #FFFFFF;
  cursor: default;
  
}

.left-container{
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 50%;
  float: left;
  padding: 20px;
  display: flex;
  top: 0;
}

.left-container:hover{
  width: 60%;
}

.left-container .method{
  display: none;
  transition: all 3s linear 2s;
}

.left-container:hover #speech{
  top: 14.26%;
  bottom: 61.76%
}

.left-container:hover .method{
  display: block;
}

.record, .file{
  position: absolute;
  left: 25.00%;
  right: 64.53%;
  width: 247px;
  height: 48px;

  background: #68FF03;
  border-radius: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 26.5px;
  line-height: 55px; 

  display: flex;
  justify-content: center;
  align-items: center;
  color:#000000;
  cursor: pointer;
}

.record{
  top: 53.61%;
  bottom: 40%;
}

.file{
  top: 63.41%;
  bottom: 31.2%;
}