.speech, .maru{
  position: fixed;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
}

.speech{
  left: 30px;
  right: 72.76%;
  top: 5.74%;
  bottom: 82.04%;

  font-size: 80px;
  line-height: 125px;
  color: #68FF03;
  background-color: rgb(5, 5, 5,0);
  
  z-index: 2;
}

.maru{
  left: 290px;
  right: 62.81%;
  top: 11.48%;
  bottom: 80.65%;

  font-size: 50px;
  line-height: 88px;
  
  color: #FFFFFF;
  background-color: rgb(5, 5, 5,0);

  z-index: 3;
}

.message, .message-up{
  position: fixed;
  left: 193px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 93px;

  color: #68FF03;
}
.message{
top:50%;
}
.message-up{
  top:243px;
}

.today-title, .today-title-up{
  position: fixed;
  left:270px;
  right: 44.21%;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 52px;

  color: #68FF03;
}

.today-title{
  top: 70.2%;
}

.today-title-up{
  top: 340px;
}


.title, .title-up{
  position: fixed;
  left: 470px;
  right: 25.57%;
  width: 500px;
  height: 50px;
  
  background: #68FF03;
  border-radius: 40px;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 420;
  font-size: 30px;
  line-height: 43px;

}
.title{
  top: 73.48%;
}
.title-up{
  top:360px;
}

.mike, .stop, .play, .submit, .mike-down, .stop-down, .play-down, .submit-down{
  width: 61px;
  height: 51px;
  color: #68FF03;
}

.mike, .stop{
  position: absolute;
  top: 74.46%;
  bottom: 17.65%;
  left: 72.6%;
  right: 22.81%;
}

.play{
  position: absolute;
  top: 74.46%;
  bottom: 17.65%;
  left: 79.79%;
  right: 14.69%;
}

.submit{
  position: absolute;
  top: 74.46%;
  bottom: 17.65%;
  left: 86.92%;
}

.mike-down, .stop-down{
  position: fixed;
  top: 87%;
  left: 575px;
}

.play-down{
  position: fixed;
  top: 87%;
  left: 690px;
}

.submit-down{
  position: fixed;
  top: 87%;
  left: 805px;
}


.mike:hover, .stop:hover, .play:hover, .submit:hover, .mike-down:hover, .stop-down:hover, .play-down:hover, .submit-down:hover{
  color:#FFFFFF;
}
